$highlight: #D30C7B;
$background:  #E8F1F2;
$alt-background: #0D324D;
$text: #222222;
$alt-text: #042A2B;
$mainFont: 'Acme', sans-serif;

body{
    font-family: $mainFont;
    margin: 0px;
    background-color: $background;
}