.imageCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px 10px 0px 0px;
  width: 640px;
  padding: 5px;
  margin: 0px 0px 0px 340px;
}

.imageCardLogo {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
  background-color: #00d681;
  margin: 0px 0px 10px 0px;
}

.caption {
  background-color: #00bdd6;
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.tagProp {
  background-color: #00bdd6;
  padding: 20px;
  font-size: 20px;

}

.commentProp {
  background-color: #00bdd6;
  padding: 20px;
  font-size: 20px;

}

.likesProp {
  background-color: #00bdd6;
  padding: 20px;
  font-size: 20px;

}

.theImage {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;

}