.imageCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px 10px 0px 0px;
  width: 640px;
  padding: 5px;
  margin: 50px 0px 20px 380px;
  background-color: #fff;
  font-family: 'Acme', sans-serif;
  
}

.imageCardLogo {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
  background-color: #D30C7B;
  margin: 0px 0px 10px 0px;
}

.interaction-div {
  background-color: 
  #0D324D;
  color: #fff;

}

.caption {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  color: #fff;

}

.tagProp {

  padding: 20px;
  font-size: 20px;

}

.commentProp {
  padding: 20px;
  font-size: 20px;
  color: #000;

}

.likesProp {
  padding: 20px;
  font-size: 20px;

}

.theImage {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 20px;

}