.imagesform {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #d4d3d4;
}

.uploadform {
  width: 100%;
  display: flex;
  justify-content: center;
}

.formheader {
  font-family: 'Anton', sans-serif;
  background-color: #fffcc2;
  font-size: 25px;
  padding: 20px;
  margin: 20px 30px 100px 30px;
  display: flex;
  justify-content: inherit;
}

.subtitle {
  font-family: 'Anton', sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center;
  margin: 20px 0px 100px 0px;
}

.fileInput {
margin: 10px 0px 50px 0px;
border: 2px solid #000;
border-radius: 10px 10px 0px 0px;
height: 250px;
padding: 20px;
background-color: #775f6f;
display: flex;
justify-content: center;
flex-direction: column;

}

.uploadform {

}