.image-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-image: linear-gradient(to bottom, #076585 , #fff); */
}

/* .image-card > .col {
  display: flex;
  flex-direction: column;
  width: 640px;
  padding: 5px;
  box-sizing: border-box;
} */