.imageCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 10px 10px 0px 0px;
  width: 640px;
  padding: 5px;
  margin: 0px 0px 0px 340px;
  background-color: #fff;
  font-family: 'Acme', sans-serif;
}

.imageCardLogo {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 50px;
  background-image: linear-gradient(to right, #00467F , #A5CC82);
  margin: 0px 0px 10px 0px;
}

.interaction-div {
  background-image: linear-gradient(to right, #1488CC , #2B32B2);

}

.caption {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
}

.tagProp {

  padding: 20px;
  font-size: 20px;

}

.commentProp {
  padding: 20px;
  font-size: 20px;

}

.likesProp {
  padding: 20px;
  font-size: 20px;

}

.theImage {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 20px;

}