$highlight: #D30C7B;
$background:  #E8F1F2;
$alt-background: #0D324D;
$text: #222222;
$alt-text: #042A2B;
$mainFont: 'Acme', sans-serif;

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
}

.login-card{
    background-color: $alt-background;
    padding: 10px;
    border-radius: 10pt;
}