.upload-form {
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  background-color: #0D324D;
  font-family: 'Acme', sans-serif;
  border-radius: 20px;
  width: 540px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  font-size: 25px;
  color: #fff;
}
 .upload-form-header {
   display: flex;
   justify-content: center;
 }

 .submit-button {
   border-radius: 20px;
   margin: 10px 0px 0px 0px;
 }

 input {
   border-radius: 10pt;
   margin: auto; 
   font-size: 1em;
 }