form {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

form label {
  display: block;
  padding-bottom: 10px;
}

form input, form button {
  display: block;
  width: 400px;
  margin: 0 auto;
}

form input {
  padding: 0;
  margin-bottom: 10px;
}

button, .button {
  font-size: 1.3em;
  font-weight: bold;
  width: 414px;
  cursor: pointer;
}