form {
  text-align: center;
  margin-top: 20px;
}

form label {
  display: block;
  padding-bottom: 10px;
}

form input, form button {
  display: block;
  width: 400px;
  margin: 0 auto;
}

form button {
  font-size: 1.3em;
  font-weight: bold;
}